RESOURCE_GROUP= "UM_Group_20"
ACR_NAME='umgroup20'
IMAGE_NAME='microservicenotificacion'
TAG_NAME='YOUR-TAG-NAME'
SERVICE_PRINCIPAL_NAME='umapp2025-service'
LOCATION='eastus'
CONTAINER_NAME='um-app-container'
DNS_NAME_LABEL='um-app-dns'  
CPU='0.25'
MEMORY_GB='0.5'
PORT='5000'
INSIGHT_CONNECTION_STRING='InstrumentationKey=be8fd461-19a6-426a-8ce3-e6d141ee40f5;IngestionEndpoint=https://northcentralus-0.in.applicationinsights.azure.com/;LiveEndpoint=https://northcentralus.livediagnostics.monitor.azure.com/;ApplicationId=33308bd2-ca11-4145-af25-a5489acf621c'
OPTL_SERVICE_NAME= 'prueba'